body{
  background: linear-gradient(to bottom right, #9bbabd, #51777c, #c4d5c4);
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 15px;
}

h2 {
font-family: "Roboto", Arial, sans-serif;
font-size: 20px;
}

html, body {
  height: 100%;
}

#login {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  #login {
    max-width: 100%;
    padding: 20px;
  }
}

#card{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border-radius: 10px;
background-color: #dfd8d4;
backdrop-filter: blur(10px);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
height: 520px;
margin: auto;
padding: 20px;
width: 400px;
text-align: center;
opacity: 0.8;
}

#ImgPerfil{
border-radius: 100px;
height: 100px;
margin: auto;
text-align: center;
/* border: 1px solid #3B3758; */
text-align: center;
/* backdrop-filter: blur(10px); */
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.h2Card{
  font-size: 30px;
  color: rgb(55, 54, 54);  
}

.lblUsuario{  
  margin-right: 140px;
  margin-bottom: 15px;
  font-size: 18px;  
  color: rgb(55, 54, 54);
}
.lblSenha{
  margin-right: 160px;
  margin-bottom: 15px;
  font-size: 18px;
  color: rgb(55, 54, 54);
}

.btnRobo{
  text-align: left; 
  margin-left: 90px;   
  margin-bottom: 20px;   
  
}

.card-content-area {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 15px;
}

.submit {
background-color: #377d63;
border: none;
color: white;
padding: 12px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
transition-duration: 0.4s;
font-weight: bold;
}

.submit:hover {
background-color: #405866;
}

#IrParaCadastro:hover{
  background-color: #707844;

}

input[type="text"],
input[type="password"] {
background-color: #f1f1f1;
border-radius: 10px;
border: none;
padding: 11px;
margin-bottom: 10px;
width: 50%;
transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
outline: none;
box-shadow: 0 0 5px #7EADB3;
}


.recuperar_senha{
  font-style: italic; 
}

.recuperar_senha{
  color: #3b9feb;
}

.recuperar_senha:visited{
  color: black;
}

.recuperar_senha:hover{
  color: rgb(57, 84, 236);
}

.recuperar_senha:active{
  color: gray;
}